<div align="center" class="jumbotron jumbotron-fluid bg-light">

  <div align="center" class="container ">
    <form   action="/subscribe" method="post">
      <fieldset style="padding:2px;">
        <input class="form-control" type="text" name="username" placeholder="username">

        <input class="form-control" type="password" name="password" placeholder="password">
        <input class="form-control" type="password" name="confirm" placeholder="confirm password">

        <input class="form-control" type="email" name="email" placeholder="name@example.com">
        <input class="form-control" type="text" name="roomNO" placeholder="room number" default="N/A">

        <select class="form-control" id="degree">
          <option>Honours</option>
          <option>Masters</option>
          <option>Honours + Masters</option>
        </select>
        <button class="btn btn-primary">SIGN IN</button>
      </fieldset>
    </form>
  </div>
</div>
