.jumbotron {
  width: 40%;
  margin-left: 30%;
  margin-top: 5%;
}
.btn-primary
{
  margin: 5px;
  background-color: #016938;
  border-color: #016938;
}
div{
  padding: 2pc;
}
h1{
  margin-top: 0;
}
input{
  margin: 4px;
}
select{
  margin: 4px;
}
