<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="jumbotron jumbotron-fluid bg-light">
  <h2 class="text-center">Welcome to Final Projects</h2>
  <img
    src="https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/19944319_10154972297699615_2787272595171792758_o.jpg?_nc_cat=103&_nc_sid=e3f864&_nc_ohc=-XnuyMqu1dYAX-W8Myb&_nc_ht=scontent-lht6-1.xx&oh=b2a6e426aa65258a91a0bc4cf2fa9516&oe=5F146D68"
    class="img-fluid" alt="Campus image">
  <h4 class="text-center" style="padding-top: 1pc;">Please choose your project level</h4>

  <div class="text-center">
    <button type="button" class="btn btn-primary btn-lg"
            style="margin: 5px; background-color: #016938; border-color: #016938;" routerLink="/honourshome">HONOURS
    </button>
    <button type="button" class="btn btn-primary btn-lg"
            style="margin: 5px; background-color: #016938; border-color: #016938;" routerLink="/mastershome">MASTERS
    </button>
  </div>
</div>
